# build output
dist/
.output/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.local
.env.production

# macOS
.DS_Store

# Cloudflare
.wrangler/
src/styles/tokens copy.css
